**/build/**
**/build-Projet-IHM-Plaque-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/**
**/.vscode/**
**/.idea

**/node_modules/**
**/package-lock.json
ARI-Server-master/Exec_env/ARI-Server
ARI-Server-master/Exec_env/contours.png
ARI-Server-master/Exec_env/contours.png
